In [1]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv("abinet.csv")
df

   name  yederesebet debere kihinete dereja
0  sami  tsome digua   rebi          diquna
1  sami  tsome digua   rebi          diquna

In [4]:
# Remove Column 
df.drop("debere" , axis =1) # you mus define it's axis : if row axis =0 it is by default : column axis -1

   name  yederesebet kihinete dereja
0  sami  tsome digua          diquna
1  sami  tsome digua          diquna

In [9]:
df # show data frame agin : the column is not permanently deleted

   name  yederesebet debere kihinete dereja
0  sami  tsome digua   rebi          diquna
1  sami  tsome digua   rebi          diquna

In [11]:
# the above method does not permanently delete the data :  the delete permanently : add this inpalce = True
df.drop("debere", axis =1, inplace =True)

KeyError: "['debere'] not found in axis"

In [12]:
df

   name  yederesebet kihinete dereja
0  sami  tsome digua          diquna
1  sami  tsome digua          diquna

In [13]:
# remove column : use shift + tab to se more option and click on the plus button.
df.drop(1, inplace =True)

In [14]:
df

   name  yederesebet kihinete dereja
0  sami  tsome digua          diquna

In [15]:
df

   name  yederesebet kihinete dereja
0  sami  tsome digua          diquna