In [3]:
import pandas as pd

In [5]:
df = pd.read_csv("abinet.csv")
df

   name  yederesebet debere kihinete dereja
0  sami  tsome digua   rebi          diquna
1  sami  tsome digua   rebi          diquna

In [6]:
#grab rows method 1: using location .
df.loc[1] # if the rows index are string you pass the string like this: df.loc["nameofrow"]

name                      sami
yederesebet        tsome digua
debere                    rebi
kihinete dereja         diquna
Name: 1, dtype: object

In [7]:
# grab row using index location method: if the index is only in number
df.iloc[0]

name                      sami
yederesebet        tsome digua
debere                    rebi
kihinete dereja         diquna
Name: 0, dtype: object

In [8]:
# grab specific points [rows,column] : data inside .
# df.loc[row,colum]
df.loc[1,"debere"]

'rebi'

In [9]:
#grab subsets
# df.loc[[row,row], ['column 1','column 2']]
df.loc[[0,1],['debere','name']] # the order tah you put in matters.

  debere  name
0   rebi  sami
1   rebi  sami